<div class="text-center">
    <h1 class="bg-danger">WARBALL</h1>
    <nav>
        <ul class="flex justify-center gap-7">
            <li><button type="button" class="rounded px-4 py-2 bg-[#94a644]"><a routerLink="/">Home</a></button></li>
            <li><button type="button" class="rounded px-4 py-2 bg-[#1a9fff]"><a routerLink="/teams">Teams</a></button></li>
            <li><button type="button" class="rounded px-4 py-2 bg-black text-white"><a routerLink="/admin/teams">Admin Mode</a></button></li>
        </ul>
    </nav>
</div>

